<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>visitRecord</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>visitRecord.project.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllRecordServlet</display-name>
    <servlet-name>getAllRecordServlet</servlet-name>
    <servlet-class>visitRecord.project.servlet.getAllRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllRecordServlet</servlet-name>
    <url-pattern>/getAllRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectByDateServlet</display-name>
    <servlet-name>SelectByDateServlet</servlet-name>
    <servlet-class>visitRecord.project.servlet.SelectByDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByDateServlet</servlet-name>
    <url-pattern>/SelectByDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectByNameServlet</display-name>
    <servlet-name>SelectByNameServlet</servlet-name>
    <servlet-class>visitRecord.project.servlet.SelectByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByNameServlet</servlet-name>
    <url-pattern>/SelectByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>visitRecord.project.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>